/* ELEMENTOS GENÉRICOS */
.titulo{
	background-color:#F4692D;
	font-size: 2em;
	padding: 10px;
	color:#fff;
	font-weight: bold;
}

.categoria {
	background-color: #EA2027;
	color:#fff;
	font-weight: bold;
	padding: 4px;
}

.produto {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	font-size: 0.9em;
}

.preco-produto {
	font-size: 0.9em;
}

.descricao-produto {
	font-size: 0.9em;
	font-style: italic;
	padding: 3px 0;
}

/* ARTE SUSHI */
.titulo-arte-sushi{
	background-color: #ff3838;
	font-size: 2em;
	padding: 10px;
	color:#fff;
	font-weight: bold;
}

.categoria-arte-sushi {
	background-color: #000000;
	color:#fff;
	font-weight: bold;
	padding: 4px;
}

/* CACTU'S BAR E RESTAURANTE */
.titulo-cactus{
	background-color: #009432;
	font-size: 2em;
	padding: 10px;
	color:#fff;
	font-weight: bold;
}

.categoria-cactus {
	background-color: #EA2027;
	color:#fff;
	font-weight: bold;
	padding: 4px;
}

/* SHAZAN ESFIHARIA */
.titulo-shazan{
	background-color: #bf3524;
	font-size: 2em;
	padding: 10px;
	color:#fff;
	font-weight: bold;
}

.categoria-shazan {
	background-color: #f9b730;
	color:#fff;
	font-weight: bold;
	padding: 4px;
}

/* THE CASTRO'S HAMBURGUERIA ARTESANAL */
.titulo-the-castros{
	background-color: #1e1f21;
	font-size: 2em;
	padding: 10px;
	color:#fff;
	font-weight: bold;
}

.categoria-the-castros {
	background-color: #000000;
	color:#fff;
	font-weight: bold;
	padding: 4px;
}
