<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Cactus Bar e Restaurante</title>
    <link rel="stylesheet" href="assets/menu.css">
  </head>
  <body style="margin: 0 auto">
  	<div class="menu-body">
      <!-- Banner Starts -->
      <div class="menu-banner">
          <div class="title-enterprise">Cactu's Bar
            e Restaurante</div>
      </div>
      <!-- Banner Snds -->
  		<!-- Section starts: 1 -->
  		<div class="menu-section">
        <div class="menu-section-background">
  			<h2 class="menu-section-title">Tex-Mex</h2>
        </div>
  			<div class="menu-item">
  				<div class="menu-item-name">Nachos da Casa</div>
  				<div class="menu-item-price">R$20,90</div>
          <div class="menu-item-description">
            nachos, molhos guacamole e salsa mexicana
  				</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Nachos Supremo</div>
          <div class="menu-item-price">R$26,90</div>
          <div class="menu-item-description">
            nachos, molhos guacamole, tomate, cheddar, chilli beans e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Potato Skins</div>
          <div class="menu-item-price">R$29,90</div>
          <div class="menu-item-description">
            batata recheada com cheddar, bacon e provolone com molho sour cream
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quesadilla de Queijos</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            tortilhas de trigo, massa fina, queijos, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quesadilla de Frango</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            tortilhas, mussarela, catupiry, frango, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quesadilla de Carne Moída</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            tortilhas, mussarela, catupiry, carne moída, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quesadilla de Filé Mignon</div>
          <div class="menu-item-price">R$37,90</div>
          <div class="menu-item-description">
            tortilhas, mussarela, catupiry, filé mignon, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quesadilla à Vegetariana</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            tortilhas, mussarela, catupiry, vegetais, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quesadilla de Camarão</div>
          <div class="menu-item-price">R$38,90</div>
          <div class="menu-item-description">
            tortilhas, mussarela, catupiry e camarão
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Burrito à Vegetariana </div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            arroz santa fé, pasta de feijão, mix vegetariano, cheddar - acompanha guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Burrito de Carne Moída</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Burrito de Frango</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Burrito de Filé Mignon</div>
          <div class="menu-item-price">R$37,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Taco de Carne Moída</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            tortilhas, alface, tomate, mussarela, cheddar, carne moída, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Taco de Frango</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Taco de Filé Mignon</div>
          <div class="menu-item-price">R$37,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Taco à Vegetariana</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Fajitas de Carne Moída</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Fajitas à Vegetariana </div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            mussarela, catupiry, pimentões, cebola, tomate, mix vegetariano, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Fajitas de Frango</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">
            mussarela, pimentões, cebola, tomate, frango, guacamole e salsa mexicana
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Fajitas de Filé Mignon</div>
          <div class="menu-item-price">R$37,90</div>
          <div class="menu-item-description"></div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Baby Back Ribs 1</div>
          <div class="menu-item-price">R$55,90</div>
          <div class="menu-item-description">
            costela suína ao molho barbecue, arroz, salada, batata ou mandioca
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Baby Back Ribs 2</div>
          <div class="menu-item-price">R$47,90</div>
          <div class="menu-item-description">
            costela suína ao molho barbecue + porção de batata ou mandioca
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Baby Back Ribs Especial</div>
          <div class="menu-item-price">R$51,90</div>
          <div class="menu-item-description">
            costela suína ao molho barbecue + porção de batata com cheddar, bacon e provolone
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Combo Mexicano 1</div>
          <div class="menu-item-price">R$39,90</div>
          <div class="menu-item-description">
            1/2 quesadilla, 1/2 burrito de carne moída e nachos
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Combo Mexicano 2</div>
          <div class="menu-item-price">R$39,90</div>
          <div class="menu-item-description">
            1/2 fajitas, 1/2 taco de carne moída e nachos
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Combo Cactu's</div>
          <div class="menu-item-price">R$56,90</div>
          <div class="menu-item-description">
            baby back ribs com potato skins
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Chilli Beans </div>
          <div class="menu-item-price">R$18,90</div>
          <div class="menu-item-description">
            feijão e carne moída apimentada - acompanha nachos
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Cestinha de Nachos</div>
          <div class="menu-item-price">R$12,90</div>
          <div class="menu-item-description"></div>
        </div>
  		</div>
  		<!-- Section ends: 1 -->
      <!-- Section starts: 2 -->
      <div class="menu-section">
        <div class="menu-section-background">
  			<h2 class="menu-section-title">Pizzas Doces e Salgadas</h2>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Cactu's Mexicana</div>
          <div class="menu-item-price">R$18,90</div>
          <div class="menu-item-description">
            mussarela, calabresa, pimentões, tomate e pimenta
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Moda da Casa </div>
          <div class="menu-item-price">R$27,90</div>
          <div class="menu-item-description">
            mussarela, filé mignon, cheddar e pimenta
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Vegetariana</div>
          <div class="menu-item-price">R$23,90</div>
          <div class="menu-item-description">
            mussarela, champignon, azeitona, tomate e cebola
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Brócolis com Alho e Catupiry</div>
          <div class="menu-item-price">R$25,90</div>
          <div class="menu-item-description">
            mussarela, brócolis, alho e catupiry
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango com Catupiry</div>
          <div class="menu-item-price">R$23,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango com Palmito e Catupiry</div>
          <div class="menu-item-price">R$26,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Portuguesa</div>
          <div class="menu-item-price">R$24,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Mussarela</div>
          <div class="menu-item-price">R$21,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Tomate Seco</div>
          <div class="menu-item-price">R$24,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Palmito</div>
          <div class="menu-item-price">R$25,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Tomate Seco com Rúcula</div>
          <div class="menu-item-price">R$25,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Calabresa</div>
          <div class="menu-item-price">R$24,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Calabresa Especial</div>
          <div class="menu-item-price">R$24,90</div>
          <div class="menu-item-description">
            mussarela, calabresa, catupiry, cebola e pimenta
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Quatro Queijos</div>
          <div class="menu-item-price">R$24,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Chocolate</div>
          <div class="menu-item-price">R$24,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Chocolate com Morango ou Uva</div>
          <div class="menu-item-price">R$26,90</div>
          <div class="menu-item-description">

          </div>
        </div>
      </div>
      <!-- Section ends: 2 -->
      <!-- Section starts: 3 -->
      <div class="menu-section">
        <div class="menu-section-background">
  			<h2 class="menu-section-title">Porções</h2>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Azeitonas</div>
          <div class="menu-item-price">R$15,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Provolone</div>
          <div class="menu-item-price">R$17,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Salaminho</div>
          <div class="menu-item-price">R$19,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Combinado de Frios</div>
          <div class="menu-item-price">R$29,90</div>
          <div class="menu-item-description">
            azeitonas, provolone e salaminho
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Batata Frita</div>
          <div class="menu-item-price">R$18,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Batata Frita com Queijo Mussarela</div>
          <div class="menu-item-price">R$20,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Batata frita com Queijo Mussarela e Bacon</div>
          <div class="menu-item-price">R$21,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Batata frita com Cheddar, Bacon e Provolone</div>
          <div class="menu-item-price">R$25,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Mandioca Frita</div>
          <div class="menu-item-price">R$18,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Kibe</div>
          <div class="menu-item-price">R$,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name"></div>
          <div class="menu-item-price">R$19,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Kibe Cactu's </div>
          <div class="menu-item-price">R$20,90</div>
          <div class="menu-item-description">
            kibe apimentado com queijo
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Calabresa Acebolada</div>
          <div class="menu-item-price">R$27,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Calabresa Cactu's </div>
          <div class="menu-item-price">R$29,90</div>
          <div class="menu-item-description">
            calabresa acebolada com pimentões e pimenta
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Calabresa Especial</div>
          <div class="menu-item-price">R$32,90</div>
          <div class="menu-item-description">
            calabresa, cebola, barbecue e gergelim
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Filé de Tilápia Especial</div>
          <div class="menu-item-price">R$33,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Picanha Acebolada</div>
          <div class="menu-item-price">R$43,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Picanha Acebolada com Fritas</div>
          <div class="menu-item-price">R$54,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Picanha Acebolada ao Molho Barbecue</div>
          <div class="menu-item-price">R$47,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Picanha Acebolada ao Molho Barbecue com Fritas</div>
          <div class="menu-item-price">R$56,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Filé Mignon Acebolado</div>
          <div class="menu-item-price">R$42,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Filé Mignon Acebolado com Fritas</div>
          <div class="menu-item-price">R$51,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Filé Mignon Acebolado ao Molho Barbecue</div>
          <div class="menu-item-price">R$46,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Filé Mignon Acebolado com Molho Barbecue com Fritas</div>
          <div class="menu-item-price">R$55,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango Acebolado</div>
          <div class="menu-item-price">R$29,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango Acebolado com Fritas</div>
          <div class="menu-item-price">R$34,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango Acebolado ao Molho Barbecue</div>
          <div class="menu-item-price">R$32,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango Acebolado com Fritas ao Molho Barbecue</div>
          <div class="menu-item-price">R$37,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Frango Acebolado ao Molho de Catupiry com Cheiro Verde</div>
          <div class="menu-item-price">R$37,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Provoleta</div>
          <div class="menu-item-price">R$26,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Enroladinho de Frango com Bacon</div>
          <div class="menu-item-price">R$26,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Enroladinho de Frango (com Bacon ao Molho Barbecue e Gergelim)</div>
          <div class="menu-item-price">R$28,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Bolinho de Bacalhau</div>
          <div class="menu-item-price">R$27,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Carne Seca Acebolada na Manteiga</div>
          <div class="menu-item-price">R$39,90</div>
          <div class="menu-item-description">

          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item-name">Carne Seca Acebolada na Manteiga com Mandioca</div>
          <div class="menu-item-price">R$46,90</div>
          <div class="menu-item-description">

          </div>
        </div>
      </div>
      <!-- Section ends: 3 -->
  	</div>
  </body>
</html>
