<html>
<head>
  <meta charset="utf-8">
  <title>Cactus Bar e Restaurante</title>
  <link rel="stylesheet" href="assets/menu.css">
</head>
<body>
	<div class="menu-body">
    <!-- Banner Starts -->
    <div class="menu-banner">
        <div class="title-enterprise">Título Empresa</div>
    </div>
    <!-- Banner Snds -->
		<!-- Section starts: 1 -->
		<div class="menu-section">
      <div class="menu-section-background">
			<h2 class="menu-section-title">Seção 1</h2>
      </div>
			<div class="menu-item">
				<div class="menu-item-name">Produto Exemplo</div>
				<div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
		</div>
		<!-- Section ends: 1 -->
    <!-- Section starts: 2 -->
    <div class="menu-section">
      <div class="menu-section-background">
			<h2 class="menu-section-title">Seção 2</h2>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
    </div>
    <!-- Section ends: 2 -->
    <!-- Section starts: 3 -->
    <div class="menu-section">
      <div class="menu-section-background">
			<h2 class="menu-section-title">Seção 3</h2>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">Produto Exemplo</div>
        <div class="menu-item-price">$300</div>
        <div class="menu-item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </div>
      </div>
    </div>
    <!-- Section ends: 3 -->
	</div>

</body>
</html>

<!-- Source: http://wordpressaholic.com/restaurant-menu-html-and-css-tutorial/ -->
